.textBox{
    display: flex;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: rgba(182, 180, 180, 0.266);
    border-radius: 1em;
}
.textBox:hover{
    cursor: pointer;
    border: 3px solid rgb(60, 60, 255);
}

.textArea{
    text-align: left;
    width: 70%;
}
.textArea h2 {
    margin-bottom: 0.2rem;
}
.textArea h2 a{
    text-decoration: none;
    color: black;
}
.textArea span {
    font-weight: bold;
}

#box1{
    width: 90%;
}
#box2 {
    width: 95%;
}
.imgBox i {
    font-size: 2.5rem;
}
.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title:hover{
    text-decoration: underline;
    color: rgb(60, 60, 255);
}
