.textBox{
    display: flex;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: rgba(182, 180, 180, 0.266);
    border-radius: 1em;
}

.textArea{
    text-align: left;
    width: 70%;
}
.textArea h2 {
    margin-bottom: 0.2rem;
}
.textArea span {
    font-weight: bold;
}

#box1{
    width: 90%;
}
#box2 {
    width: 95%;
}
.imgBox i {
    font-size: 2.5rem;
}
.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
